<div class="play-container">
  <h1>Minesweeper</h1>
  <div class="controls">
    <button mat-raised-button color="primary" (click)="startGame('easy')">
      Easy (8x8)
    </button>
    <button mat-raised-button color="primary" (click)="startGame('hard')">
      Hard (16x16)
    </button>
  </div>
  <div class="status-bar">
    <div class="timer">Time: {{ time }}</div>
    <div class="score">Score: {{ score }}</div>
    <button mat-raised-button color="warn" (click)="resetGame()">Reset</button>
  </div>
  <div class="game-board" *ngIf="grid">
    <div *ngFor="let row of grid; let rowIndex = index" class="row">
      <div
        *ngFor="let cell of row; let colIndex = index"
        class="cell"
        [class.revealed]="cell.isRevealed"
        [class.mine]="cell.isMine && cell.isRevealed"
        [class.flag]="cell.isFlagged"
        (click)="revealCell(rowIndex, colIndex)"
        (contextmenu)="toggleFlag($event, rowIndex, colIndex)"
      >
        <ng-container *ngIf="cell.isRevealed && !cell.isMine">{{
          cell.adjacentMines || ""
        }}</ng-container>
        <ng-container *ngIf="cell.isRevealed && cell.isMine">💣</ng-container>
        <ng-container *ngIf="cell.isFlagged && !cell.isRevealed"
          >🚩</ng-container
        >
      </div>
    </div>
  </div>
</div>
