.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.home-container h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

.home-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.home-container ul {
  text-align: left;
  list-style-type: disc;
  padding-left: 40px;
}

.home-container ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}
