<div class="home-container">
  <h1>Welcome to MineZone</h1>
  <p>
    Welcome to MineZone, the ultimate destination for playing the classic
    Minesweeper game online! Get ready to challenge your mind and test your
    strategic skills with our engaging and interactive Minesweeper game.
  </p>
  <h2>How to Play</h2>
  <p>
    Minesweeper is a classic puzzle game where the objective is to clear a
    rectangular board containing hidden "mines" or bombs without detonating any
    of them. Use the numbers revealed in the cells to identify where the mines
    are located.
  </p>
  <h3>Game Rules</h3>
  <ul>
    <li>Left-click on a cell to reveal it.</li>
    <li>
      Right-click on a cell to place a flag where you think a mine is located.
    </li>
    <li>
      Numbers in revealed cells indicate how many mines are adjacent to that
      cell.
    </li>
    <li>Clear all non-mine cells to win the game.</li>
    <li>If you reveal a mine, you lose the game.</li>
  </ul>
  <h3>Tips and Strategies</h3>
  <ul>
    <li>Use the numbers as clues to determine where the mines are located.</li>
    <li>
      Place flags on suspected mines to avoid accidentally clicking on them.
    </li>
    <li>
      Start by clicking around the edges to reveal larger areas of the board.
    </li>
    <li>Practice makes perfect! The more you play, the better you'll get.</li>
  </ul>
  <p>
    Ready to start playing? Head over to the Play section and choose your
    difficulty level to begin your Minesweeper adventure!
  </p>
</div>
